.icon {
	background: url("../img/sprites.svg") no-repeat;
}

.svg-categories {
	background-position: 0 0;
}

.svg-items {
	background-position: 100% 0;
}

.svg-places {
	background-position: 0 100%;
}

.svg-plus {
	background-position: 100% 100%;
}

