.icon {
	background: url("../img/sprites.svg") no-repeat;
}

.svg-categories {
	background-position: 0 0;
}

.svg-categories-dims {
	width: 20px;
	height: 20px;
}

.svg-items {
	background-position: 100% 0;
}

.svg-items-dims {
	width: 20px;
	height: 20px;
}

.svg-places {
	background-position: 0 100%;
}

.svg-places-dims {
	width: 20px;
	height: 20px;
}

.svg-plus {
	background-position: 100% 100%;
}

.svg-plus-dims {
	width: 20px;
	height: 20px;
}

