* {
  -moz-user-select: -moz-none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.visibility-hidden {
  visibility: hidden;
}

.icon {
  background-image: url("../img/sprites.svg");
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.icon.categories {
  background-position: 0px -20px;
}
.icon.places {
  background-position: -20px -20px;
}
.icon.items {
  background-position: -20px 0px;
}
.breadcrumb span.icon {
  padding: 0px;
  top: -3px;
}
.content-wrapper {
  height: 100%;
}
/*
  app navigation
*/
#app-navigation li {
  transition: max-height 300ms ease 0s;
  max-height: 100px;
}
#app-navigation li > a {
  opacity: 1 !important;
}
#app-navigation li > a span.title,
#app-navigation li > a span.icon {
  opacity: 0.57;
}
#app-navigation li.active > a span.title,
#app-navigation li:hover > a span.title,
#app-navigation li.active > a span.icon,
#app-navigation li:hover > a span.icon{
  opacity: 1;
}
#app-navigation li.edit > a,
#app-navigation li.edit .app-navigation-entry-utils,
#app-navigation li.edit .app-navigation-entry-menu {
  display: none;
}
#app-navigation .app-navigation-entry-menu li {
  float: inherit;
  width: auto !important;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;
}
#app-navigation .app-navigation-entry-menu li img,
#app-navigation .app-navigation-entry-menu li span{
  cursor: pointer;
}
#app-navigation .app-navigation-entry-menu li:hover {
  opacity: 1 !important;
}
#app-navigation .app-navigation-entry-menu li img{
  margin-right: 5px;
  vertical-align: text-bottom;
}
#app-navigation .app-navigation-entry-menu li button{
  float: inherit;
}
#app-navigation li.edit .app-navigation-entry-edit {
  display: inline-block;
}
#app-navigation li .app-navigation-entry-edit {
  display: none;
}
#app-navigation li a > span.icon {
  margin-top: -3px;
}
#app-navigation li a > span.title {
  margin-left: 9px;
}
#itemstable {
  width: 100%;
  position: relative;
}
#itemstable tr th {
  height: 50px;
}
#headerMaker-container {
  padding-left: 50px;
}
#itemstable tr td {
  height: 40px;
}
#itemstable tr td:first-child {
  padding-left: 73px;
}
table th, table td {
  border-bottom: 1px solid #eee;
  text-align: left;
  font-weight: normal;
  line-height: 30px;
}
#newItemsView {
  padding: 20px;
  height: 100%;
}
#newItems {
  height: 20%;
  margin-top: 10px;
}
#newItems textarea {
  -moz-user-select: -moz-text;
  user-select: text;
  width: 100%;
  height: 90%;
  margin: 0px;
  resize: none;
}
#newItems input[type="submit"] {
  float: right;
  margin: 10px 0;
}
#newItem {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 1px solid #b8b8b8;
  box-sizing: padding-box;
  border-radius: 2px;
  background-color: #e1e1e1;
}
#newItem:hover {
  background-color: #e8e8e8;
}
#newItem .icon-add {
  line-height: normal;
  background-position: -40px 0;
  vertical-align: top;
}
.categories li {
  background-color: #f5f5f5;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  color: #9fa2a6;
  float: left;
  font-weight: bold;
  margin: 0px 4px 0;
  padding: 2px 5px;
  min-height: 22px;
  line-height: 15px;
  height: 15px;
}
