// Workaround to fix https://github.com/nextcloud/server/issues/13465
.skip-navigation.skip-content {
	right: 0;
}

// Hack for https://github.com/nextcloud/nextcloud-vue/issues/1384
body {
	min-height: 100%;
	height: auto;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

[v-cloak] {
	display: none;
}

.visibility-hidden {
	visibility: hidden;
	display: block;
	height: 0;
}

.hide-if-narrow {
	display: none;
}

.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	opacity: .5;
}

@include icon-black-white('inventory', 'inventory', 1, false);

@include icon-black-white('qrcode', 'inventory', 1, false);

@include icon-black-white('gtin', 'inventory', 1, false);

.action-item {
	margin-left: auto !important;
}

.error input[type='text'] {
	border: 1px solid red !important;
}

.app-content {
	#controls {
		padding-left: 44px;

		.breadcrumb {
			width: calc(100% - 44px);

			.crumb span.icon {
				opacity: 1;
			}
		}
	}
}

.app-navigation {
	&:not(&--close) + #app-content {
		width: calc(100% - 300px);
		max-width: calc(100% - 300px);
	}

	> ul > li .app-navigation-entry-icon {
		background-image: unset;

		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			background: var(--icon-inventory-bw-000) no-repeat;
			background-position: inherit;
		}
	}
}

.over {
	background-color: var(--color-primary-light);
}

.dragged {
	opacity: 0.4;
}

.entitytable {
	position: relative;
	white-space: unset;
	width: 100%;
	min-width: 300px;

	&--drag-preview {
		max-width: 150px;
		position: absolute;
		left: -9999px;
		top: -9999px;

		&.entitytable .row {
			max-width: 150px;
			grid-template-columns: 150px;
			background-color: var(--color-border-dark);
			
			&:first-child {
				border-top: 1px solid var(--color-border-dark);
			}

			.column > a {
				.thumbnail {
					margin-left: 0;
				}

				.text span {
					height: 22px;
					white-space: nowrap;
				}
			}
		}
	}

	.row {
		display: grid;
		grid-template-columns: 44px 2fr 1fr 3fr 1fr 44px;
		height: 44px;
		transition: background-color .3s ease;
		border-bottom: 1px solid var(--color-border-dark);
		@media only screen and (max-width: 500px) {
			grid-template-columns: 44px 2fr 1fr 3fr 44px;

			.column.column--hide {
				display: none;
			}
		}

		&:hover {
			background-color: var(--color-background-dark);
		}

		&--header {
			position: sticky;
			top: 94px;
			height: 50px;
			background-color: var(--color-main-background-translucent);
			z-index: 55;

			&:hover {
				background-color: var(--color-main-background-translucent);
			}

			.column {
				display: flex;
				align-items: center;

				&--name > div {
					padding-left: 40px;
				}

				& > div {
					display: inline-flex;
					margin-right: auto;
					overflow: hidden;

					span:not(.sort-indicator) {
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.sort-indicator {
						display: inline-block;
					}
				}
			}
		}

		&--collection {
			grid-template-columns: 44px 1fr 44px;
		}

		&--empty,
		&--search {
			grid-template-columns: 1fr;

			.column {
				justify-content: center;

				&__left {
					justify-content: left;
					padding: 0 14px;
				}

				.icon-loading {
					display: inline-block;
					width: 44px;
				}
			}
		}

		&--search {
			height: 50px;
			font-weight: bold;

			&:hover {
				background-color: unset;
			}
		}

		&--selected {
			background-color: var(--color-background-darker) !important;
		}

		&--deleted {
			text-decoration: line-through;

			.thumbnail {
				opacity: 0.3 !important;
			}
		}

		.column {
			display: flex;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;

			&--actions {
				overflow: unset;
			}
			
			&--selection {
				display: inline-flex;
				justify-content: center;

				input[type='checkbox'].checkbox + label::before {
					margin: 0;
					margin-top: 5px;
					vertical-align: unset;
				}
			}

			& > a {
				display: flex;
				align-items: center;
				height: 44px;
				max-width: 100%;

				.thumbnail {
					height: 44px;
					width: 44px;
					margin-left: -4px;
	
					&__image {
						height: 36px;
						width: 36px;
						margin: 4px;
						background-size: 36px;
						background-repeat:  no-repeat;
	
						&--default {
							opacity: .57;
						}
					}
				}

				.text {
					display: flex;
					height: 44px;
					flex-direction: column;
					align-items: normal;
					justify-content: center;
					overflow: hidden;

					&--singleline span {
						height: 22px;
						white-space: nowrap;
					}

					span {
						overflow: hidden;
						text-overflow: ellipsis;

						&.details {
							font-size: 12px;
							color: var(--color-text-lighter);
						}
					}
				}
			}

			form,
			input {
				width: 100%;
			}
		}
	}
}

table {
	&.instances,
	&.properties {
		white-space: unset;
		width: 100%;
		min-width: 300px;

		tr {
			transition: background-color .3s ease;

			&.active {
				background-color: var(--color-primary-light) !important;
			}
		}

		th,
		td {
			height: 44px;
			padding: 0 10px;
			border-bottom: 1px solid var(--color-border-dark);
			text-align: left;
			font-weight: normal;
			line-height: 30px;

			&.actions {
				padding: 0;

				> div {
					display: flex;
				}
			}

			&.center {
				text-align: center;
			}

			&.add-uuid {
				padding: 0;

				form {
					display: inline-flex;
					grid-row: 1;
					width: 100%;

					&:hover {
						input:not([type='button']):not([type='submit']):not(:focus):not(:active) {
							border-color: var(--color-border) !important;
						}
					}
					input {
						&[type='text'] {
							margin-left: 6px;
							width: 100%;

							&:focus + input,
							&:focus + input + input {
								border-color: var(--color-primary-element) !important;
								border-left-color: transparent !important;
								z-index: 2;
								&.valid {
									border-right-color: transparent !important;
								}
							}
						}

						&[type='button'],
						&[type='submit'] {
							width: 34px;
							height: 34px;
							padding: 7px 6px;
							background-position: center;
							flex: 0 0 auto;
							margin-left: -8px !important;
							border-left-color: transparent !important;
							border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
							padding-right: 6px;
						}

						&[type='button'].valid {
							border-right-color: transparent !important;
							border-radius: 0 !important;
						}
					}
				}
			}

			&.uuids {
				padding-right: 0;

				ul li {
					display: flex;
					align-items: center;

					div.actions {
						margin-left: auto;
					}
				}
			}

			div.wrapper {
				width: 100%;
				display: inline-flex;
				align-items: center;
				flex-wrap: wrap;
			}

			div.add-instance {
				padding: 0 14px;
			}

			span.input {
				width: 100%;

				input {
					width: 100%;
					margin-left: -7px;
				}
			}

			.icon:hover  {
				opacity: 0.8;
			}
		}
	}
}

#newItemsView {
	padding: 10px;
	height: 100%;

	.header {
		padding-left: 34px;
	}
}

#newItems {
	height: 20%;
	margin-top: 10px;

	textarea {
		user-select: text;
		width: 100%;
		min-height: 200px;
		margin: 0;
		resize: none;
	}

	input[type='submit'] {
		float: right;
		margin: 10px 0;
	}
}

#itemdetails {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;

	.item_images {
		width: 100%;
		margin-top: -20px;
		max-width: 500px;
		min-width: 200px;

		// Make the item_images square
		&.default {
			opacity: .3;
			background: var(--icon-inventory-inventory-000) no-repeat;
			background-size: cover;
			&:after {
				content: '';
				display: block;
				padding-bottom: 100%;
			}
		}
	
		img {
			width: 100%;
		}
	}

	.paragraph {
		margin-bottom: 40px;
		width: 100%;

		&.properties {
			width: 100%;
			flex-grow: 1;
		}

		h3 {
			margin: 0 10px;
		}
	}

	.right {
		float: right;
	}
}

#qrcode-modal {
	.modal-container {
		display: flex;
		padding: 10px;
		background-color: #fff;
		margin: 0 20px;
		border-radius: var(--border-radius-large);
		.qrcode {
			min-width: 200px;
			max-width: 100%;
			width: 400px;
		}
	}
}

.breadcrumb .crumb.action-item {
	margin-left: unset !important;
}

.tags li {
	box-sizing: border-box;
	background-color: var(--color-background-darker);
	border: 1px solid var(--color-border-dark);
	border-radius: 2px;
	color: var(--color-text-light);
	float: left;
	font-weight: bold;
	margin: 0 4px;
	padding: 2px 5px;
	min-height: 22px;
	line-height: 15px;
	height: 15px;
}

.itemnavigation {
	display: flex;
	align-items: center;
	height: 44px;
	width: 100%;
	padding: 0;
	margin: 0;
	position: sticky;
	top: 50px;
	background-color: var(--color-main-background-translucent);
	z-index: 60;
}

@media only screen and (max-width: 768px) {
	.itemnavigation {
		padding-left: 44px;
	}
}

// item selection modal
.relation-modal {
	.modal-container {
		height: 85%;
		width: 85%;

		.content {
			display: flex;
			flex-direction: column;
			height: 100%;
			background-color: var(--color-main-background);
			border-radius: 2px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
			transition: all .3s ease;
			font-family: Helvetica, Arial, sans-serif;

			.header {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				flex-direction: row;
				background-color: var(--color-primary);
				padding: 8px;
			
				.title {
					line-height: 38px;
					padding: 0 20px;
					font-size: 14px;
					color: white;
				}

				.multiselect {
					z-index: 100;
					background-color: unset;
					font-size: 14px;

					.multiselect__tags {
						align-items: center;
					}
				}
			
				.searchbox {
					margin-left: auto;

					.searchbox-input input[type='search'] {
						padding-left: 35px;
						z-index: 99;
						font-size: 14px;

						&:not(:valid) ~ .close {
							display: none;
						}

						&~ .close {
							position: absolute;
							right: 0;top: 0;
							background-color: unset;
							border: none;
							display: inline;
							z-index: 999;
						}

						&~ .search {
							position: absolute;
							left: 0;
							width: 44px;
							height: 44px;
							display: inline-block;
							padding: 10px;
							box-sizing: border-box;
						}
					}
				}
			}

			.body {
				display: flex;
				flex: 1;
				overflow-y: auto;

				> div {
					width: 100%;
				}

				.row--header {
					top: 0;
				}
			}
			
			.footer {
				box-sizing: border-box;
				height: 56px;
				padding: 8px;
			
				.item-adding-status {
					line-height: 40px;
					font-size: 13px;
					padding-left: 20px;
				}

				.default-button {
					float: right;
				}
			}
		}
	}
}

.modal-attachments {
	.modal__content {
		width: 25vw;
		min-width: 250px;
		text-align: center;
		margin: 20px;
	
		button {
			margin: 40px 3px 3px 3px;
		}
	}
}

.status-display {
	display: inline-block;
	width: 16px !important;
	height: 16px !important;

	&.success {
		@extend .icon-color;
		@extend .icon-checkmark-color;
	}

	&.error {
		@extend .icon-color;
		@extend .icon-error-color;
	}

	&.unsynced {
		@extend .icon-color;
		@extend .icon-warning-color;
	}

	&.refresh {
		background-image: var(--icon-history-000);
		animation: pulse 2s infinite;
		border-radius: 50%;
		opacity: .5;
		cursor: pointer;

		&:hover{
			opacity: .7;
		}
	}
}

.attachment-list {
	padding: 0 !important;

	.attachments {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.attachments__wrapper {
			display: inline-block;
			flex: 1 1 auto;

			>ul {
				display: grid;
				grid-gap: 5px;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				grid-auto-flow: dense;

				li.attachment {
					display: flex;
					padding: 3px;
					align-items: center;

					&.deleted {
						opacity: .5;
					}

					.fileicon {
						display: inline-block;
						min-width: 32px;
						width: 32px;
						height: 32px;
						background-size: contain;
						margin-bottom: auto;
					}
					.details {
						flex-grow: 1;
						flex-shrink: 1;
						min-width: 0;
						flex-basis: 50%;
						line-height: 110%;
						padding: 2px;
					}
					.filename {
						width: 70%;
						display: flex;
						white-space: nowrap;
						.basename {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							padding-bottom: 2px;
						}
						.extension {
							opacity: 0.7;
						}
					}
					.filesize,
					.filedate {
						font-size: 90%;
						color: var(--color-text-lighter);
					}
				}
			}
		}
		.dragover {
			width: 100%;

			.drop-hint__text {
				text-align: center;
			}
		}
	}
}

@media only screen and (min-width: 500px) {
	#itemdetails {
		.paragraph {
			> div {
				margin: 0 10px;
			}

			&.properties {
				width: 60%;
			}

			&.images {
				width: 40%;
			}
		}
	}

	.hide-if-narrow {
		display: revert;
	}
}
