//colors
$gray: #e1e1e1;
$gray_dark: #aaa;
$gray_light: #f5f5f5;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.visibility-hidden {
	visibility: hidden;
}

.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	opacity: .5;
}

.content-wrapper {
	height: 100%;
}

#app-navigation {
	> ul {
		> li {
			background-image: unset;

			> a {
				background-image: unset;
				background-position: inherit;
			}

			.sprite::before {
				content: '';
				position: absolute;
				z-index: -1;
				width: 16px;
				height: 16px;
				background: url('../../../apps/inventory/css/../img/sprites.svg') no-repeat;
				margin: 14px;
				margin-left: -30px;
				background-position: inherit;
			}
		}
	}
}

.itemstable {
	width: 100%;
	position: relative;

	tr {
		th {
			height: 50px;

			&:first-child div {
				padding-left: 40px;
			}
		}

		td {
			height: 40px;

			&:first-child a span {
				padding-left: 60px;
			}

			a {
				.thumbnail-wrapper {
					position: absolute;
					height: 40px;
					width: 40px;

					.thumbnail {
						height: 32px;
						width: 32px;
						margin: 4px;
						opacity: .57;

						&.default {
							background: url('../../../apps/inventory/css/../img/item-icons/default.svg') no-repeat;
						}
					}
				}

				height: 100%;
				width: 100%;
				display: inline-block;
				line-height: 40px;
			}
		}
	}
}

table {
	th,
	td {
		border-bottom: 1px solid $gray;
		text-align: left;
		font-weight: normal;
		line-height: 30px;
	}

	&.instances,
	&.properties {
		th,
		td {
			padding: 5px 10px;
		}
	}
}

#newItemsView {
	padding: 20px;
	height: 100%;
}

#newItems {
	height: 20%;
	margin-top: 10px;

	textarea {
		user-select: text;
		width: 100%;
		height: 90%;
		margin: 0;
		resize: none;
	}

	input[type="submit"] {
		float: right;
		margin: 10px 0;
	}
}

#itemdetails {
	margin-bottom: 50px;
	
	.paragraph {
		margin: 0 10px;
	}
}

#newItem {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 30px;
	width: 30px;
	padding: 6px;
	border: 1px solid $gray_dark;
	border-radius: 2px;
	background-color: $gray;
	line-height: 16px;

	&:hover {
		background-color: $gray;
	}

	.icon-add {
		line-height: normal;
		background-position: -40px 0;
		vertical-align: top;
	}
}

.breadcrumb span.icon {
	padding: 0;
	top: -3px;
}

.categories li {
	background-color: $gray_light;
	border: 1px solid $gray;
	border-radius: 2px;
	color: $gray_dark;
	float: left;
	font-weight: bold;
	margin: 0 4px;
	padding: 2px 5px;
	min-height: 22px;
	line-height: 15px;
	height: 15px;
}

.itemnavigation {
	height: 44px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, .95);
	z-index: 50;
}

.table-dropdown {
	li {
		float: inherit;
		width: auto !important;
		cursor: pointer;
		opacity: .57;

		& > a span {
			opacity: 1 !important;

			&[class*=" icon-"] {
				padding: 0;
				background-size: auto;
				margin: 12px 8px;

				&.icon-plus {
					@extend .icon-plus;
				}
			}
		}
	}
}

.item_images{
	width: 30%;
	float: left;
	margin: 0 30px;
	max-width: 400px;
	min-width: 200px;
	
	img {
		width: 100%;
		filter: invert(100%);
		opacity: .3;
	}
}